[run]
branch = True
data_file = .coverage
source=sanctions
relative_files = True
omit =
    CODEOWNERS
    sanctions/settings/*
    sanctions/conf/*
    *wsgi.py
    *migrations*
    *admin.py
    *static*
    *templates*
    *test*
    *gunicorn_configuration.py